src/CDsOferta.dtd

<?xml version="1.0" encoding="UTF-8"?>

        <!ELEMENT CDsOferta (CD)*>
        <!ELEMENT CD (titulo, artista+, pais, compa単ia_discografica,precio,a単o_publicacion)>
        <!ELEMENT titulo (#PCDATA)>
        <!ELEMENT artista (#PCDATA)>
        <!ELEMENT pais (#PCDATA)>
        <!ELEMENT compa単ia_discografica (#PCDATA)>
        <!ELEMENT precio (#PCDATA)>
        <!ELEMENT a単o_publicacion (#PCDATA)>