src/mensajes.dtd

<?xml version="1.0" encoding="UTF-8"?>

        <!ELEMENT mensajes (mensaje)*>
        <!ELEMENT mensaje (remitente, destinatario, asunto, texto)>
        <!ELEMENT remitente (nombre, email)>
        <!ELEMENT destinatario (nombre, email)>
        <!ELEMENT asunto (#PCDATA)>
        <!ELEMENT texto (parrafo)*>
        <!ELEMENT nombre (#PCDATA)>
        <!ELEMENT email (#PCDATA)>
        <!ELEMENT parrafo (#PCDATA)>